<!DOCTYPE html>
<html>
<head>
    <title>Ta stran ne obstaja</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/search.css">
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .image {
            max-width: 80%;
            height: auto;
            width: 500px;   
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <img src="/static/cute.png" alt="Cute picture" class="image">
    <h1>Ta stran ne obstaja</h1>
    <a href="/search">Nazaj na iskanje</a>
</body>
</html>